html {
  height: 100vh;
}

body {
  background-color: #eef6fd;
}

#root {
  height: fit-content;
}

h1,
h2 {
  margin: 6px;
}
.grid-container {
  display: grid;
  gap: 1rem;
  background-color: #636d7a;
  padding: 1.2rem;
  width: 100%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: larger;
  font-weight: 100;

  border: none;
  min-width: 125.8px;
  padding: 20px;
}

.stop1 {
  grid-column: 8;
  grid-row: 1;
}

.stop2 {
  grid-column: 7;
  grid-row: 1;
}

.stop3 {
  grid-column: 6;
  grid-row: 1;
}
.stop4 {
  background-color: rgba(236, 192, 45, 0.904);
  grid-column: 1 / span 5;
  grid-row: 1;
}
.stop5 {
  grid-column: 1;
  grid-row: 1 / span 2;
}
.stop6 {
  grid-column: 3;
  grid-row: 4;
}
.stop7 {
  grid-column: 4;
  grid-row: 4;
}

.stop6,
.stop7 {
  background-color: rgba(213, 235, 16, 0.8);
  min-width: 5rem;
}

.stop5 {
  grid-column: 1;
  grid-row: 2;
}
.stop8 {
  grid-column: 5;
  grid-row: 2;
}

.junction {
  grid-column: 1 / span 5;
  grid-row: 3;
}
.terminal {
  grid-column: 1 / span 5;
  grid-row: 5;
}

#airport-status {
  padding: 10px;
  align-items: center;
}

#airport-status table {
  margin: 16px;
  display: inline-block;
  vertical-align: top;
}

#airport-status table * {
  font-size: 1.4rem;
  background-color: white;
  width: max-content;
  border: 1px solid slategray;
}

#airport-status table th,
td {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 100px;
  text-align: center;
}

#stops-headers th {
  background-color: rgb(19, 51, 100);
  color: white;
}

#flights-headers th {
  background-color: rgb(12, 57, 124);
  color: white;
}

#airport-stops p {
  font-size: 1.5rem;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#button-container button {
  font-size: 1.6rem;
  border-radius: 5px;
  margin-right: 4px;
  margin-left: 4px;
  padding: 16px 32px;
}

#start-button {
  background-color: rgb(97, 175, 82);
  color: white;
}

#start-button:hover:enabled {
  background-color: rgb(115, 201, 98);
}

#start-button:disabled {
  background-color: rgba(115, 201, 98, 0.5);
}

#stop-button {
  background-color: rgb(190, 54, 73);
  color: white;
}

#stop-button:hover:enabled {
  background-color: rgb(230, 66, 87);
}

#stop-button:disabled {
  background-color: rgba(190, 54, 73, 0.5);
}
