.student-display {
  font-family: Helvetica, sans-serif;
  text-align: left;
  padding: 12px;
  margin: 8px;
  border: 1px solid black;
  max-width: fit-content;
}

.student-display img {
  width: 500px;
  height: auto;
}
